In [1]:
import pandas as pd
%matplotlib inline
import numpy as np

In [6]:
fc_frame = pd.read_table("./data/f_c.txt", index_col = 0,names = ["Context","f(*,c)"]).dropna().groupby(level=0).first()

In [7]:
fc_frame

                     f(*,c)
Context
#                       130
#'s                      14
#0                       10
#0001                     6
#008                      5
#01                       7
#05                       7
#1                      898
#1's                     12
#1,997,901                5
#1-23                     6
#1-6                      3
#10                     129
#100                      5
#101-122                  5
#101-150                  4
#109                      4
#109-113                  3
#10‚Äì11                    8
#11                      98
#11-power                 5
#110                      5
#1100                     2
#111                     14
#115‚Äì116                  5
#116                      6
#118                      5
#12                      72
#12-13                    6
#12-22                    6
...                     ...
ÌÄ¥Ï¶àÌîÑÎ¶∞Ïä§                     5
ÌÜµÏùº                        3
Ìá¥Í≥Ñ                        3
Ìå®Î∞ÄÎ¶¨Í∞Ä                      5
Ìè¨ÏùÄ                        3
ÌîÑÎ°úÏ†ùÌä∏                      5
ÌïòÎÇòÏùò                       6
ÌïúÎÇòÏÇ∞                       6
Ìñ•ÌÜ†                        4
ÌóåÌÑ∞Ïä§                       4
ÌòàÎßùÎ¥â/                      1
ÌòïÏ†úÎì§                       7
ÌôîÎûë                        3
ÌôòÏõÖ/                       4
Ô¨Åbrofatty                 7
Ô¨Åbrovascular             16
Ô¨Åbrovascularization       3
Ô¨Åde                       5
Ô¨Åeld                      6
Ô¨Åelds                     4
Ô¨Åghter                    3
Ô¨Ånd                       4
Ô¨Årst                      3
Ô¨Åts                      11
Ô¨Åve                      11
Ô¨Åxation                   3
Ô¨Çats                      4
Ô¨Çoor                      2
Ôºâ                         5
ùîó                        6

[388283 rows x 1 columns]

In [8]:
ft_frame = pd.read_table("./data/f_t.txt", index_col=0,names = ["Target", "f(t,*)"]).dropna().groupby(level=0).first()

In [9]:
ft_frame

                     f(t,*)
Target
#                       109
#'s                       7
#0                       14
#0001                     7
#008                      9
#01                       1
#05                       1
#1                      971
#1's                     10
#1,997,901                1
#1-23                     5
#1-6                      4
#10                     138
#100                      9
#101-122                  5
#101-150                  9
#106                      5
#109                      5
#10‚Äì11                    1
#11                      93
#11-power                 3
#110                      7
#1100                     2
#111                     19
#115‚Äì116                  5
#116                      9
#118                      1
#12                      79
#12-13                    7
#12-22                    9
...                     ...
ÌÄ¥Ï¶à                        1
ÌÄ¥Ï¶àÌîÑÎ¶∞Ïä§                     1
Ìá¥Í≥Ñ                        3
Ìå®Î∞ÄÎ¶¨Í∞Ä                      1
Ìè¨ÏùÄ                        4
ÌîÑÎ°úÏ†ùÌä∏                      5
ÌïòÎÇòÏùò                       1
ÌïúÎÇòÏÇ∞                       1
Ìñ•ÌÜ†                        3
ÌóåÌÑ∞Ïä§                       7
ÌòàÎßùÎ¥â/                      2
ÌòïÏ†úÎì§                       1
ÌôîÎûë                        3
ÌôòÏõÖ/                       1
Ô¨Åbrofatty                 1
Ô¨Åbrovascular              7
Ô¨Åbrovascularization       5
Ô¨Åde                       3
Ô¨Åeld                      7
Ô¨Åelds                     3
Ô¨Åghter                    4
Ô¨Ånd                       1
Ô¨Årst                      9
Ô¨Åts                       6
Ô¨Åve                      14
Ô¨Åxation                   5
Ô¨Çats                      1
Ô¨Çoor                      5
Ôºâ                         3
ùîó                        1

[387814 rows x 1 columns]

In [10]:
ftc_frame = pd.read_table("./data/f_tc_space.txt", sep=" ", header = None, names =["t", "c", "f(t,c)"]).dropna().drop_duplicates(subset = ['t','c'])

In [11]:
ftc_frame

                      t                 c  f(t,c)
0             biennials               and       2
1             biennials                in       3
2             biennials       PBS/Charlie       1
3             biennials              Rose       1
4             biennials            coming       1
5             biennials      installation       1
6             biennials             favor       1
7             biennials        exhibition       1
8             biennials                of       2
9             biennials             films       1
10            biennials              Love       1
11            biennials               the       1
12            biennials       exhibitions       1
13        unsupportable               and       1
14        unsupportable                is       1
15        unsupportable         therefore       1
16        unsupportable      unfathomable       1
17        unsupportable  constitutionally       1
18             Goto.com                 a       1
19             Goto.com               and       1
20             Goto.com           Jeffrey       1
21             Goto.com           founder       1
22             Goto.com            Brewer       1
23             Goto.com              1998       1
24             Goto.com              Bill       1
25             Goto.com           startup       1
26             Goto.com       25-employee       1
27             Goto.com                to       1
28             Goto.com           Idealab       1
29             Goto.com                of       1
...                 ...               ...     ...
18366537        Reflejo              such       1
18366538        Kangana              then       1
18366539        Kangana            sister       1
18366540        Kangana               his       1
18366541        Kangana              Kiya       1
18366542        Kangana              lead       1
18366543        Kangana            agenda       1
18366544        Kangana            Ranaut       2
18366545        Kangana            signed       1
18366546        Kangana                an       1
18366547        Kangana           project       1
18366548        Kangana               she       1
18366549        Kangana              have       1
18366550        Kangana               the       2
18366551        Kangana              with       2
18366552        Kangana              left       1
18366553            gal                10       1
18366554            gal           million       1
18366555            gal             organ       1
18366556            gal                be       1
18366557            gal               may       1
18366558            gal           Southie       1
18366559            gal               who       1
18366560            gal                US       1
18366561            gal                to       1
18366562            gal            Margie       1
18366563            gal               the       1
18366564            gal              open       1
18366565            gal            plucky       1
18366566      1664-1726          Seehusen       1

[18366408 rows x 3 columns]

In [17]:
ft_frame.ix["#008"].values

array([9])

In [19]:
ftc_frame["f(t,*)"] = ft_frame.ix[ftc_frame.t].values

In [20]:
ftc_frame["f(t,*)"]

0           17
1           17
2           17
3           17
4           17
5           17
6           17
7           17
8           17
9           17
10          17
11          17
12          17
13           5
14           5
15           5
16           5
17           5
18          12
19          12
20          12
21          12
22          12
23          12
24          12
25          12
26          12
27          12
28          12
29          12
            ..
18366537     7
18366538    18
18366539    18
18366540    18
18366541    18
18366542    18
18366543    18
18366544    18
18366545    18
18366546    18
18366547    18
18366548    18
18366549    18
18366550    18
18366551    18
18366552    18
18366553    13
18366554    13
18366555    13
18366556    13
18366557    13
18366558    13
18366559    13
18366560    13
18366561    13
18366562    13
18366563    13
18366564    13
18366565    13
18366566     1
Name: f(t,*), dtype: int64

In [21]:
ftc_frame

                      t                 c  f(t,c)  f(t,*)
0             biennials               and       2      17
1             biennials                in       3      17
2             biennials       PBS/Charlie       1      17
3             biennials              Rose       1      17
4             biennials            coming       1      17
5             biennials      installation       1      17
6             biennials             favor       1      17
7             biennials        exhibition       1      17
8             biennials                of       2      17
9             biennials             films       1      17
10            biennials              Love       1      17
11            biennials               the       1      17
12            biennials       exhibitions       1      17
13        unsupportable               and       1       5
14        unsupportable                is       1       5
15        unsupportable         therefore       1       5
16        unsupportable      unfathomable       1       5
17        unsupportable  constitutionally       1       5
18             Goto.com                 a       1      12
19             Goto.com               and       1      12
20             Goto.com           Jeffrey       1      12
21             Goto.com           founder       1      12
22             Goto.com            Brewer       1      12
23             Goto.com              1998       1      12
24             Goto.com              Bill       1      12
25             Goto.com           startup       1      12
26             Goto.com       25-employee       1      12
27             Goto.com                to       1      12
28             Goto.com           Idealab       1      12
29             Goto.com                of       1      12
...                 ...               ...     ...     ...
18366537        Reflejo              such       1       7
18366538        Kangana              then       1      18
18366539        Kangana            sister       1      18
18366540        Kangana               his       1      18
18366541        Kangana              Kiya       1      18
18366542        Kangana              lead       1      18
18366543        Kangana            agenda       1      18
18366544        Kangana            Ranaut       2      18
18366545        Kangana            signed       1      18
18366546        Kangana                an       1      18
18366547        Kangana           project       1      18
18366548        Kangana               she       1      18
18366549        Kangana              have       1      18
18366550        Kangana               the       2      18
18366551        Kangana              with       2      18
18366552        Kangana              left       1      18
18366553            gal                10       1      13
18366554            gal           million       1      13
18366555            gal             organ       1      13
18366556            gal                be       1      13
18366557            gal               may       1      13
18366558            gal           Southie       1      13
18366559            gal               who       1      13
18366560            gal                US       1      13
18366561            gal                to       1      13
18366562            gal            Margie       1      13
18366563            gal               the       1      13
18366564            gal              open       1      13
18366565            gal            plucky       1      13
18366566      1664-1726          Seehusen       1       1

[18366408 rows x 4 columns]